div.labels {
    float: left;
    line-height: 28px;
}

input {
    height: 28px;
}

input[type=checkbox] {
    height: auto;
}

.multilines > textarea {
    height: 10em;
}

/*
Fix for issue in Chrome that causes
Bootstrap Datepicker to break page layout.
*/
.input-group-addon {
    width: 0%;
}