div.labels {
    float: left;
    line-height: 28px;
}

input {
    height: 28px;
}

input[type=checkbox] {
    height: auto;
}

.process {
    color: darkorange;
}

.success {
    color: darkgreen;
}


.error {
    color: red;
}

.multilines > textarea {
    height: 10em;
}