{% extends "base.html" %}
{% load staticfiles %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'person/css/base.css' %}">
{% endblock page_styles %}

{% block content %}
    <h1> 42 Coffee Cups test assignment</h1>

    <div class="row">
        <div class="col-md-5">
            <br>
            <div class="labels">
                <p id="label_name"> Name: </p>
                <p id="label_surname"> Last name: </p>
                <p id="label_birth"> Date of birth: </p>
            </div>

            <div class="values">
                <p> {{ person.name }} </p>
                <p> {{ person.surname }} </p>
                <p> {{ person.birth|date:"M. d, Y" }}</p>
            </div>
        </div>

        <div class="col-md-7">
            <p> Contacts </p>
            <div class="labels">
                <p id="label_email"> Email: </p>
                <p id="label_jabber"> Jabber: </p>
                <p id="label_skype"> Skype: </p>
            </div>

            <div class="values">
                <p> {{ person.email }} </p>
                <p> {{ person.jabber }} </p>
                <p> {{ person.skype }} </p>
            </div>
        </div>
    </div> <!-- row -->

    <div class="row">
        <div class="col-md-5">
            <p class="labels" id="label_bio"> Bio: </p>
            {{ person.bio|linebreaks }}
        </div>

        <div class="col-md-7">
            <p class="labels" id="label_contacts"> Other contacts: </p>
            {{ person.contacts|linebreaks }}
        </div>
    </div> <!-- row -->

    <hr>

    <a href={% url 'requestlog:requests'%}> requests </a>

{% endblock %}