{% extends "base.html" %}
{% load staticfiles %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'person/css/base.css' %}">
{% endblock page_styles %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h1> 42 Coffee Cups test assignment </h1>
        </div>

        <div class="col-md-2">
            <br>
            {% if user.is_authenticated %}
                <a href={% url 'logout' %}> Logout </a>
            {% else %}
                <a href={% url 'login' %}> Login </a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <br>
            <div class="labels">
                <p> Name: </p>
                <p> Last name: </p>
                <p> Date of birth: </p>
            </div>

            <div class="values">
                <p> {{ person.name }} </p>
                <p> {{ person.surname }} </p>
                <p> {{ person.birth }}</p>
            </div>


        </div>

        <div class="col-md-7">
            <p> Contacts </p>
            <div class="labels">
                <p> Email: </p>
                <p> Jabber: </p>
                <p> Skype: </p>
            </div>

            <div class="values">
                <p> {{ person.email }} </p>
                <p> {{ person.jabber }} </p>
                <p> {{ person.skype }} </p>
            </div>
        </div>
    </div> <!-- row -->

    <div class="row">
        <div class="col-md-5">
            <p class="labels"> Photo: </p>
            <img class="img-responsive photo" alt="Person photo"
                {% if person.photo %}
                    src="{{ person.photo.url }}"
                {% else %}
                    src="{{ STATIC_URL}}person/img/no_photo_available.jpg"
                {% endif %}
            >
        </div>

        <div class=" col-md-7">
            <br>
            <p class="labels"> Other contacts: </p>
            {{ person.contacts|linebreaks }}

            <br>
            <p class="labels"> Bio: </p>
            {{ person.bio|linebreaks }}
        </div>
    </div> <!-- row -->

    <hr>

    <p>
        <a href={% url 'requestlog:requests'%}> requests </a> |
        <a href={% url 'person:person_update'%}> update person </a>
    </p>

{% endblock %}