{% extends "base.html" %}
{% load staticfiles %}


{% block page_styles %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/datetimepicker.css' %}" media="all" rel="stylesheet" />

    <link href="{% static 'person/css/base.css' %}" rel="stylesheet">
    <link href="{% static 'person/css/person_form.css' %}" rel="stylesheet">
{% endblock page_styles %}


{% block page_scripts %}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"> </script>
    <script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>

    <script src="{% static 'person/js/photo_preview_.js' %}"></script>
    <script src="{% static 'person/js/person_update_.js' %}"></script>
{% endblock page_scripts %}


{% block content %}
    <h1> 42 Coffee Cups test assignment</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-5">
                <br>
                <div class="labels">
                    <p> Name: </p>
                    <p> Last name: </p>
                    <p> Date of birth: </p>
                </div>

                <div class="values">
                    <p> {{ form.name }} </p>
                    <p> {{ form.surname }} </p>
                    {{ form.birth}}
                </div>
            </div>

            <div class="col-md-7">
                <p> Contacts </p>
                <div class="labels">
                    <p> Email: </p>
                    <p> Jabber: </p>
                    <p> Skype: </p>
                </div>

                <div class="values">
                    <p> {{ form.email }} </p>
                    <p> {{ form.jabber }} </p>
                    <p> {{ form.skype }} </p>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row">
            <div class="col-md-5">
                <p class="labels"> Photo: </p>
                <p>
                    <input id="id_photo" name="photo" type="file">
                    <input id="photo-clear_id" name="photo-clear" type="checkbox"/> Clear photo
                </p>

                <img class="img-responsive photo" alt="Photo preview"
                    {% if person.photo %}
                        src="{{ person.photo.url }}"
                    {% else %}
                        src="{{ STATIC_URL}}person/img/no_photo_available.jpg"
                    {% endif %}
                >
            </div>

            <div class="col-md-7 multilines">
                <br>
                <p class="labels"> Other contacts: </p>
                {{ form.contacts }}

                <br><br>
                <p class="labels"> Bio: </p>
                {{ form.bio }}
            </div>
        </div> <!-- row -->

        <br>
        <p class="person_form_status"> </p>

        <input type="submit" value="Save"/>
        <a href={% url 'person:index'%}> Cancel </a>
    </form>

    <!-- Show form errors, if any -->
    <div class="person_form_errors" style="display: none">
        <hr>
        <h3 class="error"> Errors: </h3>

        <div class="errors_content">
            {% if form.errors %}
                {% for key, value in form.errors.items %}
                    <p class="labels"> {{ key }}: </p>
                    {{ value }}
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <hr>

    <p>
        <a href={% url 'requestlog:requests'%}> requests </a>
    </p>

{% endblock %}